################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/bin/Debug/netcoreapp3.1
/.vs
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/Properties
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/staticwebassets
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Release/netcoreapp3.1
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/project.nuget.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/project.assets.json
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csproj.nuget.g.targets
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csproj.nuget.g.props
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csproj.nuget.dgspec.json
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.Views.pdb
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.Views.dll
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.TagHelpers.output.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.TagHelpers.input.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.RazorTargetAssemblyInfo.cs
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.RazorTargetAssemblyInfo.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.RazorCoreGenerate.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.RazorAssemblyInfo.cs
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.RazorAssemblyInfo.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.pdb
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.MvcApplicationPartsAssemblyInfo.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.genruntimeconfig.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.exe
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.dll
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csprojAssemblyReference.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csproj.FileListAbsolute.txt
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csproj.CoreCompileInputs.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.csproj.CopyComplete
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.assets.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.AssemblyInfoInputs.cache
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1.AssemblyInfo.cs
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/wwwroot/css/JsTree.min.css
/N-Level-Dynamic-Tree-View-APS.NET-CORE 3.1/wwwroot/js/jstree.min.js
